name: pulsar io qpid-jms integration tests

on:
  pull_request:
    branches:
      - master
      - branch-*
  push:
    branches:
      - master
      - branch-*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 17

    - name: Login SN docker hub
      run: docker login -u="${{ secrets.DOCKER_USER }}" -p="${{ secrets.DOCKER_PASSWORD}}"

    - name: clean disk
      if: ${{ steps.check_changes.outputs.docs_only != 'true' }}
      run: |
        sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo apt clean
        docker rmi $(docker images -q) -f
        df -h

    - name: Build with Maven skipTests
      run: |
        mvn clean install -DskipTests

    - name: build test image
      run: |
        cd tests
        ./build.sh

    - name: tests module
      run: mvn test -pl tests

    - name: package surefire artifacts
      if: failure()
      run: |
        rm -rf artifacts
        mkdir artifacts
        find . -type d -name "*surefire*" -exec cp --parents -R {} artifacts/ \;
        zip -r artifacts.zip artifacts

    - uses: actions/upload-artifact@master
      name: upload surefire-artifacts
      if: failure()
      with:
        name: surefire-artifacts
        path: artifacts.zip
